.mobile-slider__controls {
	text-align: center;
	font-size: 1.25em;
}

.mobile-slider {
	width: 100%;
	overflow-x: hidden;
}

.mobile-slider::-webkit-scrollbar {
	display: none; 
}

.mobile-slider__items {
	margin: 40px auto 10px;
	position: relative;
	width: 312px;
	height: 312px;

	-moz-perspective: 150px;
	-webkit-perspective: 150px;
	perspective: 100px;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	z-index: 1;
}

.mobile-slider__item {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;

	transition: all 0.25s ease-in-out;
	-webkit-transform: translateX(0) translateZ(-20px) rotateZ(0);
	transform: translateZ(-14px) translateY(8%) rotateZ(0);

	background-color: #fff;
	box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.8);
	opacity: 1;
}

.mobile-slider__title {
	position: absolute;
	top: 0px;
	width: 100%;
	background-color: rgba(50,50,50,0.5);
	text-align: center;
}

.mobile-slider__image {
	position: absolute;
	top: 0;
}

.mobile-slider__item--active {
	/*opacity: 1;*/
	transform-origin: 0% 0% 0px;
	transform: translateX(0px) translateZ(0) rotateZ(0deg);
	z-index: 4;
}

.mobile-slider__item--before {
	transform: translateZ(-8px) translateY(5%) rotateZ(0deg);
	z-index: 2;
}
.mobile-slider__item--before-2 {
	transform: translateZ(-12px) translateY(8%) rotateZ(0deg);
	z-index: 3;
}

.mobile-slider__item--out-right {
	/*opacity: 0.75;*/
	transform-origin: 100% 100% 0px;
	transform: translateX(50px) translateZ(0) rotateZ(10deg);
	z-index: 5;
}

.mobile-slider__item--out-left {
	/*opacity: 0.75;*/
	z-index: 5;
	transform-origin: 0% 100% 0px;
	transform: translateX(-50px) translateZ(0) rotateZ(-10deg);
}