body {
  background: white;
  padding: 0;
  margin: 0; }

ul {
  padding-left: 0px;
  margin: 0;
  list-style: none; }

a, a:hover, a:active, a:link {
  color: white;
  text-decoration: none; }

.mobile-slider {
  background: url("../textures/bg-texture.jpg");
  padding-bottom: 30px; }

.mobile-slider__title {
  display: none; }
